.settings/com.salesforce.ide.core.prefs
*.quickAction
.project
salesforce.schema
Auctions.iml
.idea/illuminatedCloud.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
IlluminatedCloud/Auctions/OfflineSymbolTable.zip
